.statisticsContainer {
    display: flex;
    flex-direction: row;
    background-color: #000;
    justify-content: space-evenly;
    padding-bottom: 50px;
}

.statisticsItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
}

.number {
    font-size: 59px;
    color: #D2D800;
    margin: 0;
}

.quantity {
    font-size: 29px;
    color: #D2D800;
    font-weight: 800;
    margin: 0;
}

.description {
    font-size: 16px;
    color: #fff;
    font-weight: 800;
    max-width: 250px;
}

.fourthContent {
    display: block;
    width: 100%;
}

.ourServices {
    background-color: #D2D800;
    display: flex;
    gap: 150px;
    padding-left: 150px;
    overflow: scroll;
}

.serviceItem {
    background-color: #000;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 20px 20px;
}

.serviceTitle {
    text-transform: uppercase;
    width: fit-content;
    color: #fff;
}

.serviceDescription {
    color: #fff;
    text-align: center;
    width: 800px;
}

.objectivePic {
    max-width: 100px;
}

.learnMore {
    background-color: #D2D800;
    color: #fff;
    border-radius: 20px;
    padding: 10px;
    margin-top: 15px;
    font-size: 20px;
}

.learnMore:hover {
    cursor: pointer;
    transition: all 1s;
    transform: scale(1.2)
}

.partnersContainer {
    background-color: black;
    display: flex;
    flex-direction: column;
}

.partnersContainer>h2 {
    color: #D2D800;
    font-size: 42px;
    text-align: center;
}

.partnersLogos {
    display: grid;
    place-items: center;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin-bottom: 20px;
}

.partnersImages {
    max-width: 250px;
    border-radius: 20%;
}
.contents {
    width: 100%;
    display: block;
}

@media screen and (max-width: 950px) {
    .serviceItem {
        width: 500px;
    }

    .serviceDescription {
        width: 400px;
    }
}